<a href="https://colab.research.google.com/github/TamyBuenafe/Numerical-Method-58012-/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##If Statement

In [1]:
a = 12
b = 100

if b>a:
  print("b is greater than a")

b is greater than a

##If..Elif Statements

In [4]:
a = 100
b = 10

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

##Else Statements

In [5]:
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##Short Hand If Statement

In [6]:
if a>b:print("a is greater than b")

a is greater than b

##Short Hand If.. Else Statement

In [7]:
print("a is greater than a")if b>a else print("a is greater than b")

a is greater than b

##And- if both Conditions are true

In [8]:
a = 100
b = 10
c = 45

if a>b and c>b:
 print("Both conditions are true")

Both conditions are true

##Or- if one the conditions are true

In [9]:
if a>b or b>c:
  print("One condition is true")

One condition is true

##Nested If

In [15]:
x = 41 

if x>10:
  print("x is above 10,")
if x>20:
  print("x is above 20,")
if x>30:
  print("x is above 30,")
if x>40:
  print("x is above 40,")
if x>50:
 print("x is above 50")
else:
 print("x is below 50")

x is above 10,
x is above 20,
x is above 30,
x is above 40,
x is below 50

##Application 1

In [ ]:
age = int()

##Application 2

In [18]:
x = int(input())
if x>0:
  print("x is a postive number")
elif x==0:
 print("x is zero")
else:
  print("x is a negative number")

0
x is zero

##Application 3 - Write a program if the grades are:

grade>70 = "Passed"
grade = 64 to 69 "Remedial"
grade<64 ="Failed"

##For Loop

In [19]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [21]:
for x in week:
  print(x)
  if x== "Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

##Looping through a String

In [22]:
for x in "week":
  print(x)

w
e
e
k

##Range() Function

In [24]:
for x in range(6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [25]:
for x in range(2,6):
  print(x)

2
3
4
5

##While Loop

IndentationError: ignored